header {
    background-color: aqua;
}

a {
    text-decoration: none;
}

.nav-link {
    color: black;
}

.carousel-item img {
    height: 45vh;
}

@media (min-width: 520px) {
    .carousel-item img {
        height: 50vh;
    }
}

@media (min-width: 768px) {
    .carousel-item img {
        height: 70vh;
    }
}

@media (min-width: 1024px) {
    .carousel-item img {
        height: 80vh;
    }

    #carouselExampleFade {
        width: 70%;
    }
}

.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

@media (min-width: 768px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (min-width: 992px) {
    .container-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    max-width: 100%;
}

.card-img-top {
    height: 300px;
}

.bi {
    font-size: 50px;
}

.bi-instagram {
    color: blue
}

.bi-whatsapp {
    color:green
}

.bi-youtube {
    color:red
}