header {
    background-color: rgb(240, 245, 249);
    border:hidden black;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.nav-link {
    color: black;
}

.nav-link {
    transition: color 0.3s;
}

.nav-link:hover {
    color: blue; 
}

.navbar-brand {
    font-size: 24px; 
    font-weight: bold;
}

.navbar-brand::before {
    content: "TURISMO";
    color: #75AADB; 
}

.navbar-brand::after {
    content: "ARGENTINA";
    color: #FFD100; 
}

