.bi {
    font-size: 50px;
}

.bi-instagram {
    color: rgb(64, 85, 203)
}

.bi-whatsapp {
    color:green
}

.bi-youtube {
    color:red
}

.redes {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.redes a {
    text-decoration: none;
    margin: 0 12px; 
}